<ion-view hide-nav-bar='true' class="background">
  <ion-content class="width80">
    <div class="marginbottom">
      <img class="width" src="/img/Top Banner.jpg">
      <div ng-click="Main()" class="card thankyou">
        <div class="item item-text-wrap centertext">
          Thank You
          <br> for your valuable feedback
          <br> Happy Shopping!!!
        </div>
        <div class="hrborder"></div>
        <div class="item item-text-wrap centertext">
          If you want to give more
          <br> feedback or suggestion
          <br> call us on 080 4000 1869
        </div>
        <br>
        <br>
        <div class="marginbottom">
          <button  style="display: block;margin: auto;width:33%;color:white;background-color: rgba(201, 37, 44, 0.74);">Ok</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
